.main_content {
    margin: 0 auto;
    width: 40%;
}
.form_signup-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.form_signup-title::after {
    content: '';
    display: block;
    width: 20%;
    margin-top: 10px;
    height: 2px;
    background-color: #1aceff;
    margin-left: 240px;
}
.form_signup_group {
    display: grid;
}

.form_signup_label {
    font-size: 18px;
    padding: 10px 0;
}

.form_signup_input {
    padding: 10px 10px;
    border-radius: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eeeff7;
    color:black;
    width: 500px;
}

.form_button {
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    margin-left: 137px;
    height: 35px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
.form_button:hover {
    cursor: pointer;
}