.header_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header_top{
    width: 90%;
    text-align: center;
    height: 40px;
}
.header_top ul {
    display: flex;
    float: right;
}
.header_top li{
    padding: 0 20px;
}
.header_top a {
    font-weight: bold;
}
.header_top a:hover {
    color: #ffc302;
}
.header_bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header_search {
    display: flex;
    position: relative;
    width: 350px;
    align-items: center;
}
.search_input {
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border: 1px solid #ffc302;
    padding-left: 5px;
    font-size: 15px;
}
.search_input:focus {
    outline: none;
}
.search_button {
    position: absolute;
    height: 34px;
    width: 50px;
    left: 299px;
    outline: none;
    background: #ffc302;
    border: none;
    border-radius: 3px;
}
.search_button:hover {
    cursor: pointer;
}
.menu {
    display: flex;
    list-style: none;
    background-color: #f0f2f5;
    height: 45px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
}
.menu_nav {
    padding: 0 10px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
}
.menu_nav a {
    color: #333;
    font-weight: bold;
    font-size: 15px;
}
.menu_nav a:hover {
    color: #1aceff;
}
.menu_nav:hover .menu_navbar{
    display: block;
}
.menu_navbar {
    position: relative;
    z-index: 1;
    display: none;
    background-color: #f0f2f5;
    text-align: left;
    padding: 0 10px;
    transition: all ease-in 0.3s;
}


.menu_navbar a:hover {
    transition: all ease 0.3s;
    padding-left: 10px;
}