.banner {
    position: relative;
    width: 100%;
}
.banner_bg {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-image: url(./img/banner_phongkhach.jpg);
    background-size: cover;
    background-position-y: center;
    z-index: 0;
}
.banner_content {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 50px;
}
.banner_container {
    position: absolute;
    bottom: -100px;
    right: 10px;
}

.banner_container ul {
    display: flex;
}

.banner_container li, .banner_container a{
    font-size: 18px;
    font-weight: bold;
    color: azure;
    padding: 0 2px;
}
.main_content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    background-color: #e2d9d9;
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 50px;
}
.list a{
    font-weight: bold;
    font-size: 18px;
}
.list_tt {
    padding: 10px;
}
.list_navbar li{
    padding: 10px;
}

.main_content-right {
    width: 90%;
}
.products_list h2{  
    padding: 10px;
    border-radius: 10px;
}
.products_list-title {
    margin-left: 10px;
    font-size: 20px;
}
.products_list-nav {
    display: flex;
    flex-wrap: wrap;
}

.products_list-nav li {
    padding: 0 0 20px 20px;
}
.product_info a{
    display: block;
    overflow: hidden;
    height: 300px;
}
.product_info-img {
    width: 300px;
    height: 300px;
}
.product_info-img:hover {
    transform: scale(1.1);
    transition: 3s;
}
.product_info-tt {
    margin-top: 10px;
    width: 300px;
}

.product_info-tt a {
    height: 50px;
}
.product_info-tt a:hover {
    color: skyblue;
}
.product_info-icon {
    float: right;
}
