* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

main #item {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

#item .item {
  width: calc(100% / 3);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_home {
  margin: 20px;
}

.title_general {
  border: 1px solid #350000;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
}
.title_general__left {
  width: 30%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  line-height: 50px;
  border-radius: 5px;
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.title_general__left p {
  color: #fff;
}
.title_general__right {
  width: 70%;
  box-sizing: border-box;
  line-height: 50px;
}
.title_general__right ul {
  display: flex;
  justify-content: space-around;
}
.title_general__right li {
  list-style-type: none;
  display: inline-flex;
  padding: 0 20px;
  font-size: 16px;
  position: relative;
}

.title_general__right li a {
  color: #393939;
  text-decoration: none;
  font-size: 24px;
}
.title_general__right li:hover a,
.title_general__right li.active a {
  color: #fabf00;
}
.title_general__item {
  font-size: 16px;
}

.product_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_top .product_top_left {
  margin-right: 30px;
}
.product_top_left {
  position: relative;
}
.product_top_left_detail {
  position: absolute;
  margin-top: -60px;
  margin-left: 20px;
}
.product_top_left_detail h3 {
  color: #fff;
}
.product_top_left_detail span {
  color: #fabf00;
}

.product_top .product_top_right_item {
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
  grid-gap: 20px 20px;
}

.right_item_1 {
  position: relative;
}

.product_top_right_detail1 {
  position: absolute;
  bottom: 5px;
}
.right_item_2 {
  position: relative;
}

.product_top_right_detail2 {
  position: absolute;
  bottom: 5px;
}
.right_item_3 {
  position: relative;
}

.product_top_right_detail3 {
  position: absolute;
  bottom: 5px;
}
.right_item_4 {
  position: relative;
}

.product_top_right_detail4 {
  position: absolute;
  bottom: 5px;
}
.right_item_5 {
  position: relative;
}

.product_top_right_detail5 {
  position: absolute;
  bottom: 5px;
}
.right_item_6 {
  position: relative;
}

.product_top_right_detail6 {
  position: absolute;
  bottom: 5px;
}

.product_top_right_detail {
  margin-left: 5px;
  margin-top: 5px;
}
.product_top_right_detail h3 {
  color: #fff;
  font-size: 16px;
}
.product_top_right_detail span {
  color: #fabf00;
}

/* product_you */
.product_you .product_you_top {
  border: 1px solid #350000;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 16px;
  margin: 20px;
  display: flex;
}

.product_you .product_you_title {
  width: 30%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  line-height: 50px;
  border-radius: 5px;
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.main_content {
  display: flex;
}

.main_content-left {
  width: 30%;
  margin-left: 50px;
}
.list {
  border: 1px solid #393939;
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 50px;
}
.list a {
  font-weight: bold;
  font-size: 18px;
}
.list_tt {
  padding: 10px;
}
.list_navbar li {
  padding: 10px;
}

.main_content-right {
  width: 70%;
}
.products_list h2 {
  background-color: #fabf00;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}
.products_list-title {
  margin-left: 10px;
  font-size: 20px;
}
.products_list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.product_info {
  overflow: hidden;
}
.product_info-img {
  width: 300px;
  height: 300px;
}
.product_info-img:hover {
  transform: scale(1.1);
  transition: 3s;
}
.product_info-tt {
  margin-top: 10px;
  width: 300px;
}
.product_info-tt a:hover {
  color: skyblue;
}
.products_info-icon {
  float: right;
}

.show_view a {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
}

.show_view a p {
  padding-right: 10px;
}
.show_view a i {
  padding-top: 5px;
}
.product-detail {
  text-align: center;
}
.product-detail img {
  width: 100%;
  height: 1000px;
}
.product-detail h1 {
  font-size: 24px;
  margin-top: 20px;
}
.product-detail p {
  font-size: 20px;
  margin-top: 10px;
  display: block; /* Ensure price is displayed */
}
.btn-hover.color-1 {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
.containe2r{
margin-left: 5%;
margin-right: 5%;
}
